
.idea/

.vscode/

dev-container/

lang-plugin-go/

lang-plugin-openjdk/

lang-plugin-python311/
lang-plugin-python312/

metaffi-core/

output/

.sconsign.dblite

MetaFFI.code-workspace

vc140.pdb

site_scons/__pycache__/

metaffi_installer.py
metaffi_plugin_go_installer.py
metaffi_plugin_openjdk_installer.py
metaffi_plugin_python311_installer.py
containers/

metaffi-installer/

metaffi.github.io

SConsSolution.py
