
.idea/

.vscode/

.claude/*
.cursor/*

output/

.sconsign.dblite

MetaFFI.code-workspace

vc140.pdb

site_scons/__pycache__/

metaffi_installer.py
metaffi_plugin_go_installer.py
metaffi_plugin_openjdk_installer.py
metaffi_plugin_python311_installer.py

metaffi.github.io

SConsSolution.py

output
cmake-build*

build/*

__pycache__/
*.pyc
containers
lang-plugin-*
metaffi-core
metaffi-installer
sdk
go.work
go.work.sum
.cache
tests

*.dll
*.so
*.dylib