
.idea/

.vscode/

dev-container/

lang-plugin-go/

lang-plugin-openjdk/

lang-plugin-python3/

metaffi-core/

output/

.sconsign.dblite

MetaFFI.code-workspace

vc140.pdb

site_scons/__pycache__/

metaffi-installer/
